<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">
<listeners>
<listener class-name="Framework.Listeners"></listener>
</listeners>
  <test name="App Testing">
      <classes>
      	<class name="Framework.AppTest"/>
      </classes>
  </test>
  <test name="Kite Testing">
      <classes>
      	<class name="Framework.Kite"/>
      </classes>
  </test>
  <test name ="Homepage testing">
  	<classes>
  		<class name="Framework.HomePage"/>
  	</classes>
  </test>
  <test name ="Course Title testing">
  	<classes>
  		<class name="Framework.ValidateCourseTitle"/>
  	</classes>
  </test>
  <test name ="Course Navigation testing">
  	<classes>
  		<class name="Framework.ValidateCourseNavigationBar"/>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
